@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: #ffffff;
  font-family: 'Noto Sans JP', sans-serif;
}

.swiper-button-prev::after{
  display: none;
}
.swiper-button-next::after{
  display: none;
}



/* アニメーションの設定 */
@keyframes slideVertically1 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes slideVertically2 {
  0% { transform: translateY(-50%); }
  100% { transform: translateY(0); }
}